<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="CardioIntel">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>CardioIntel</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/tablogo.png')}}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js')}}"></script>


    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100" style="width:100%; height:75px; background-color:#ff7777">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header" style="visibility:visible; color:#ff7777;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand logo">
                    <img class="headerimage" src="static/images/logo1.png" style="margin-top:-20px;margin-left:-120px;width:500px; height:auto;" /> </a>
            </div>
            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right" style="color:#ff7777; visibility:visible;">
                    <li class="active"><a href="#home-page">Home</a></li>
                    <!--<li><a href="#sponsor-page">Sponsors</a></li>-->
                    <li><a href="#workshops-page">Classification</a></li>
                    <li><a href="#faq-page">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->

    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <h2 style="font-size: 50px;padding-left:20px;margin-top: 100px;">CardioIntel</h2>
        <h1 style="font-size: 35px;margin-left:-100px;margin-top:200px;">Know your heart.</h1>
        <img style="margin-left:-2px;margin-top:125px; width: 760px; height: 450px;" src="https://steamuserimages-a.akamaihd.net/ugc/925921546925723480/7C735DA09642CC70E65CFD042550B81F3F76FFB3/" alt="heartbeatTracking">


        </form>
        <html>

        <body>
            <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
              <div class='preview'>
            <img src="" id="img" width="100" height="100">
        </div>
        <div >
                <input type="file" style="margin-left: 200%; margin-bottom: 10%;"type="file" name="file"/>
                <input style="font-weight:bold; margin-left: 210%; margin-bottom: 40%; background-color: #000000; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;"type="submit" id = "Upload" value="Upload."/>
</div>
            </form>
        </body>

        </html>


        <script>
            $(function() {
                $('#upload-file-btn').click(function() {
                    var form_data = new FormData($('#upload-file')[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/uploads',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data) {
                            console.log('Success!');
                        },
                    });
                });
            });
        </script>




    </header>

    <section class="gray-bg section-padding" id="workshops-page" style="background-image: url('https://d1aueex22ha5si.cloudfront.net/Conference/46/BackGround/s-27aeb2b874ddb715cbdf289069ed980238da2c60-1535964992913.gif(height=auto)')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Heartbeat Classification.</h2>
                        <p>
                            Learn more about the classes CardioIntel uses.
                        </p>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="https://image.flaticon.com/icons/svg/263/263417.svg" width="150px" height="150px" alt="">
                        </div>
                        <br>
                        <h3>Normal</h3>
                        <br>

                        <br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="https://image.flaticon.com/icons/svg/1583/1583611.svg" width="150px" height="150px" alt="">
                        </div>
                        <br>
                        <h3>Artifact</h3>
                        <br>

                        <br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="https://image.flaticon.com/icons/svg/1635/1635473.svg" width="150px" height="150px" alt="">
                        </div>
                        <br>
                        <h3>Murmur</h3>
                        <br>

                        <br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="https://image.flaticon.com/icons/svg/1546/1546124.svg" width="150px" height="150px" alt="">
                        </div>
                        <br>
                        <h3>Extrasystole</h3>
                        <br>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="black-bg section-padding" id="faq-page" style="background-image:url('https://ak2.picdn.net/shutterstock/videos/29750992/thumb/1.jpg?i10c=img.resize')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Company Profile</h2>
                        <p style="text-align: left; margin-left:20px">
                          Bioinformatics has become a major research area in our current
                          technological society.
                          EMTs face situations in which they are unable to render aid in certain cardiac emergencies.
                            CardioIntel leverages the power of Artificial Intelligence and Machine Learning to help
                            EMTs in the diagnosis of cardiac conditions in emergencies.


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding overlay client-area overlay" id="client-page">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
        </div>
    </section>

    <footer class="font-base line-height-tight font-weight-light text-shortest text-short-from-xs text-current-from-xl margin-vertical-larger js-fix-scroll-pad">

    </footer>



    <!--Vendor-JS-->
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>

    <!--Plugin-JS-->
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/contact-form.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.parallax-1.1.3.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scrollUp.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
    <!--Main-active-JS-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    {% block content %}
    {% endblock %}
</body>

</html>
<center>

          </center>
