<!DOCTYPE html>
<html lang="en" dir="ltr">
<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
<title>Success</title>
<meta charset="utf-8">
<body style="text-align: center; font-family: 'Josefin Sans';font-size: 30px; margin-left:30px; padding-top:50px; background-color: #fff7fc;">
    The upload was a success!
    <br>
    <br>
    <br>
    Your heart beat is classified as: {{ value }}
    <br>
    <br>
    <br>
    <br>
    Here were the chances:
    <p style="font-size: 20px;">
      Normal: {{normalChance}}%
      <br>
      Artifact: {{artifactChance}}%
      <br>
      Extrasystole: {{extraChance}}%
      <br>
      Murmur: {{murmurChance}}%
      </p>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
<h2>
<input type="button" style="background-color: #ff7777; font-family: 'Josefin Sans'; border: none; color: white; padding: 15px 25px; text-align: center; font-size: 16px; cursor: pointer;"type="button" value = "Return to home" onclick="history.go(-1)">
    </h2>

</html>
